.desktop-content {
  display: block;
}

.mobile-content {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  letter-spacing: -0.08px;
  line-height: 24px;
  white-space: nowrap;
}

.mobile-content .div-m {
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgb(3, 138, 255) 15.94%,
    rgb(28, 111, 232) 43.18%,
    rgb(49, 7, 133) 91.97%,
    rgb(18, 24, 36) 100%
  );
  width: 100%;
  height: auto;
  position: relative;
}

@media (min-width: 992px) {
  .desktop-content {
    display: block;
  }

  .mobile-content {
    display: none !important; 
  }
}

@media (max-width: 991px) {
  .desktop-content {
    display: none !important; 
  }

  .mobile-content {
    display: block; 
  }

  .centrar-contenido {
    max-width: 100%;
    margin: 0 auto;
  }

  .content-container {
    max-width: 100%;
    margin: 70px auto 0;
    height: auto;
  }

  .content {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .mobile-content .content-container a .spotify-img,
  .mobile-content .content-container a .amazon-img,
.mobile-content .content-container a .slack-img,
.mobile-content .content-container a .paypal-img,
.mobile-content .content-container a .airbnb-img {
  margin-top: 5%;
  max-width: 60%;
}

.mobile-content .text-wrapper-37-m,
.mobile-content .text-wrapper-36-m {
  font-family: "Inter", Helvetica;
  color: #ffffff;
  margin: 0; 
  text-align: center;
}

.mobile-content .text-wrapper-36-m {
  font-size: 1.4em;
  line-height: 1.3;
  white-space: normal;
  font-family: "Inter", Helvetica;
  font-weight: 600;
}

.mobile-content .text-wrapper-37-m {
  font-size: 1em;
  line-height: 1.3;
  white-space: normal;
  font-family: "Inter", Helvetica;
  font-weight: 600;
}

.mobile-content .faqs {
  position: relative;
  width: 100%;
  height: 58px;
  background-color: #ffffff;
  border-radius: 11px;
  border: 1px solid #e1e8f0;
  cursor: pointer;
}

.faqs.show{
  border-radius: 11px 11px 0 0;
}


.dropdown-contentm {
  display: none;
  width: 100%;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #162c5d;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 23px;
  background-color: #ffffff;
  border: 1px solid #e1e8f0;
  border-top: none;
  border-radius: 11px;
  z-index: 1;
  padding-left: 50px;
  padding-right: 50px;
}

.dropdown-contentm.show {
  display: block;
}


.mobile-content .group-6m {
  position: relative;
  height: 58px;
  background-color: #ffffff;
  border-radius: 11px;
  border: 1px solid;
  border-color: #e1e8f0;
}

.mobile-content .text-wrapper-41m {
  position: absolute;
  width: 12px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #748098;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.09px;
  line-height: 23px;
  white-space: nowrap;
}

.mobile-content .text-wrapper-42m {
  position: absolute;
  width: 176px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #162c5d;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 23px;
  white-space: nowrap;
}

/*Contenido desktop*/
  .content {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
}

.desktop-content {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

a {
  text-decoration: underline;
}

/*Aquí inicia el menú responsive*/
/*----Menu Hamburguesa----*/
/* Estilo del menú desplegable */
.main-content {
  margin-top: 60px; /* Ajusta según sea necesario para evitar solapamiento con el menú hamburguesa */
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.mobile-content .hamburger-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #121824;
  width: 200px;
  height: 100vh;
  padding: 20px;
  box-shadow: -4px 0 5px -2px rgba(0, 0, 0, 0.1);

  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: -0.06px;
  line-height: 24px;
  white-space: nowrap;
}

.menu-item {
  margin-bottom: 15px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .hamburger-icon {
    display: block;
  }

  .hamburger-menu.show-menu {
    display: block;
  }
}

/*menu desktop*/
.desktop-content .div {
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgb(3, 138, 255) 15.94%,
    rgb(28, 111, 232) 43.18%,
    rgb(49, 7, 133) 91.97%,
    rgb(18, 24, 36) 100%
  );
  width: 1440px;
  height: 4868px;
  position: relative;
}

.desktop-content .overlap {
  position: absolute;
  width: 493px;
  height: 352px;
  top: 762px;
  left: 768px;
}

.desktop-content .img {
  position: absolute;
  width: 441px;
  height: 352px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop-content .group {
  position: absolute;
  width: 96px;
  height: 27px;
  top: 303px;
  left: 322px;
}

.desktop-content .overlap-group {
  position: relative;
  width: 94px;
  height: 27px;
  background-color: #ffffff;
  border-radius: 5px;
}

.desktop-content .text-wrapper {
  position: absolute;
  width: 66px;
  top: 2px;
  left: 12px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: -0.06px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .vector {
  position: absolute;
  width: 7px;
  height: 10px;
  top: 8px;
  left: 71px;
}

.desktop-content .overlap-wrapper {
  position: absolute;
  width: 96px;
  height: 27px;
  top: 22px;
  left: 397px;
}

.desktop-content .div-wrapper {
  position: relative;
  width: 94px;
  height: 27px;
  background-color: #febd3d;
  border-radius: 5px;
}

.desktop-content .text-wrapper-2 {
  position: absolute;
  width: 66px;
  top: 2px;
  left: 12px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.1px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .overlap-2 {
  position: absolute;
  width: 1440px;
  height: 469px;
  top: 4410px;
  left: 0;
  background-color: #121824;
}

.desktop-content .p {
  position: absolute;
  top: 28px;
  left: 261px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #e9ecf3;
  font-size: 22px;
  letter-spacing: -0.13px;
  line-height: 38px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-3 {
  position: absolute;
  width: 175px;
  top: 72px;
  left: 261px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #e9ecf3;
  font-size: 14px;
  letter-spacing: -0.08px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-4 {
  position: absolute;
  width: 56px;
  top: 175px;
  left: 733px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #e9ecf3;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-5 {
  position: absolute;
  width: 56px;
  top: 209px;
  left: 735px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .odoo-attempts-to {
  position: absolute;
  width: 295px;
  top: 222px;
  left: 260px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 19px;
}

.desktop-content .text-wrapper-6 {
  position: absolute;
  width: 56px;
  top: 209px;
  left: 892px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-7 {
  position: absolute;
  width: 61px;
  top: 209px;
  left: 1051px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-8 {
  position: absolute;
  width: 56px;
  top: 232px;
  left: 735px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-9 {
  position: absolute;
  width: 56px;
  top: 232px;
  left: 892px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-10 {
  position: absolute;
  width: 61px;
  top: 232px;
  left: 1051px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-11 {
  position: absolute;
  width: 56px;
  top: 253px;
  left: 735px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-12 {
  position: absolute;
  width: 56px;
  top: 253px;
  left: 892px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-13 {
  position: absolute;
  width: 56px;
  top: 253px;
  left: 1051px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-14 {
  position: absolute;
  width: 56px;
  top: 386px;
  left: 1006px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-15 {
  position: absolute;
  width: 56px;
  top: 386px;
  left: 1065px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-16 {
  position: absolute;
  width: 56px;
  top: 386px;
  left: 1128px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-17 {
  position: absolute;
  width: 66px;
  top: 276px;
  left: 735px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-18 {
  position: absolute;
  width: 66px;
  top: 276px;
  left: 892px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-19 {
  position: absolute;
  width: 56px;
  top: 175px;
  left: 892px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #e9ecf3;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-20 {
  position: absolute;
  width: 61px;
  top: 175px;
  left: 1051px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #e9ecf3;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .btn-purchasenow {
  position: absolute;
  width: 135px;
  height: 41px;
  top: 45px;
  left: 1049px;
}

.desktop-content .overlap-3 {
  position: relative;
  width: 133px;
  height: 41px;
  background-color: #038aff;
  border-radius: 5px;
}

.desktop-content .text-wrapper-21 {
  position: absolute;
  width: 85px;
  top: 9px;
  left: 26px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.07px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .btn-documentation {
  position: absolute;
  width: 169px;
  height: 41px;
  top: 45px;
  left: 869px;
}

.desktop-content .overlap-4 {
  position: relative;
  width: 167px;
  height: 41px;
  background-color: #ffffff;
  border-radius: 5px;
}

.desktop-content .text-wrapper-22 {
  position: absolute;
  width: 107px;
  top: 9px;
  left: 52px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #263343;
  font-size: 12px;
  letter-spacing: -0.07px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .vector-wrapper {
  position: absolute;
  width: 10px;
  height: 12px;
  top: 15px;
  left: 25px;
  border: 1px solid;
  border-color: #028aff;
}

.desktop-content .vector-2 {
  position: absolute;
  width: 8px;
  height: 1px;
  top: 6px;
  left: 0;
  object-fit: cover;
}

.desktop-content .vector-3 {
  position: absolute;
  width: 629px;
  height: 1px;
  top: 140px;
  left: 398px;
  object-fit: cover;
}

.desktop-content .vector-4 {
  position: absolute;
  width: 629px;
  height: 1px;
  top: 366px;
  left: 408px;
  object-fit: cover;
}

.desktop-content .odoo-white {
  position: absolute;
  width: 82px;
  height: 25px;
  top: 179px;
  left: 261px;
}

.desktop-content .dribble {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 325px;
  left: 259px;
}

.desktop-content .odoo-all-rights {
  position: absolute;
  width: 159px;
  top: 388px;
  left: 260px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 12px;
  letter-spacing: -0.07px;
  line-height: 19px;
  white-space: nowrap;
}

.desktop-content .span {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #e9ecf3;
  font-size: 12px;
  letter-spacing: -0.07px;
  line-height: 19px;
}

.desktop-content .text-wrapper-23 {
  font-weight: 500;
}

.desktop-content .vector-5 {
  position: absolute;
  width: 12px;
  height: 13px;
  top: 324px;
  left: 298px;
}

.desktop-content .instagram {
  position: absolute;
  width: 14px;
  height: 15px;
  top: 323px;
  left: 334px;
}

.desktop-content .facebook {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 325px;
  left: 372px;
}

.desktop-content .odoo-white-2 {
  position: absolute;
  width: 109px;
  height: 714px;
  top: 149px;
  left: 0;
  mix-blend-mode: soft-light;
}

.desktop-content .odoo-white-3 {
  position: absolute;
  width: 109px;
  height: 714px;
  top: 2336px;
  left: 0;
  mix-blend-mode: soft-light;
}

.desktop-content .development-done {
  position: absolute;
  top: 148px;
  left: 191px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-content .vector-6 {
  position: absolute;
  width: 320px;
  height: 65px;
  top: 720px;
  left: 1399px;
}

.desktop-content .overlap-group-wrapper {
  position: absolute;
  width: 557px;
  height: 491px;
  top: 127px;
  left: 785px;
}

.desktop-content .overlap-5 {
  position: relative;
  width: 549px;
  height: 506px;
}

.desktop-content .rectangle {
  position: absolute;
  width: 371px;
  height: 462px;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.desktop-content .text-wrapper-24 {
  position: absolute;
  width: 113px;
  top: 34px;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #162c5b;
  font-size: 14px;
  letter-spacing: -0.08px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .buton {
  position: absolute;
  width: 118px;
  height: 43px;
  top: 231px;
  left: 24px;
}

.desktop-content .overlap-group-2 {
  position: relative;
  width: 116px;
  height: 43px;
  background-color: #161348;
  border-radius: 6px;
}

.desktop-content .text-wrapper-25 {
  position: absolute;
  width: 48px;
  top: 10px;
  left: 34px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: -0.06px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-26 {
  position: absolute;
  width: 71px;
  top: 80px;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #162c5b;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-27 {
  position: absolute;
  width: 84px;
  top: 140px;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #162c5b;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-28 {
  position: absolute;
  width: 204px;
  top: 101px;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #162c5b;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-29 {
  position: absolute;
  width: 67px;
  top: 81px;
  left: 283px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #162c5b;
  font-size: 12px;
  text-align: right;
  letter-spacing: -0.07px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-30 {
  position: absolute;
  width: 76px;
  top: 141px;
  left: 274px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #162c5b;
  font-size: 12px;
  text-align: right;
  letter-spacing: -0.07px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-31 {
  position: absolute;
  width: 204px;
  top: 161px;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #162c5b;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .group-2 {
  position: absolute;
  width: 53px;
  height: 32px;
  top: 190px;
  left: 161px;
}

.desktop-content .overlap-6 {
  position: relative;
  width: 49px;
  height: 32px;
}

.desktop-content .text-wrapper-32 {
  position: absolute;
  width: 44px;
  top: 0;
  left: 3px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #161446;
  font-size: 11px;
  letter-spacing: -0.07px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-33 {
  position: absolute;
  top: 8px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #161446;
  font-size: 8px;
  letter-spacing: -0.05px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .element {
  position: absolute;
  width: 385px;
  height: 316px;
  top: 190px;
  left: 164px;
}

.desktop-content .build-a-beautiful {
  position: absolute;
  width: 262px;
  top: 292px;
  left: 191px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: -0.08px;
  line-height: 24px;
}

.desktop-content .text-wrapper-34 {
  position: absolute;
  width: 66px;
  top: 530px;
  left: 191px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.07px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .paypal-white {
  position: absolute;
  width: 66px;
  height: 22px;
  top: 531px;
  left: 560px;
}

.desktop-content .get-started {
  position: absolute;
  width: 147px;
  height: 46px;
  top: 383px;
  left: 191px;
  background-color: #ffffff;
  border-radius: 5px;
}

.desktop-content .group-3 {
  position: relative;
  width: 101px;
  height: 25px;
  top: 11px;
  left: 23px;
}

.desktop-content .group-4 {
  position: absolute;
  width: 74px;
  height: 25px;
  top: 0;
  left: 0;
}

.desktop-content .text-wrapper-35 {
  position: absolute;
  width: 72px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .vector-7 {
  position: absolute;
  width: 12px;
  height: 11px;
  top: 7px;
  left: 89px;
}

.desktop-content .google-white {
  position: absolute;
  width: 69px;
  height: 23px;
  top: 532px;
  left: 278px;
}

.desktop-content .spotify-white {
  position: absolute;
  width: 68px;
  height: 23px;
  top: 532px;
  left: 371px;
}

.desktop-content .airbnb-white {
  position: absolute;
  width: 66px;
  height: 22px;
  top: 532px;
  left: 466px;
}

.desktop-content .text-wrapper-36 {
  position: absolute;
  top: 3729px;
  left: 623px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: -0.15px;
  line-height: 38px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-37 {
  position: absolute;
  width: 477px;
  top: 3778px;
  left: 482px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.08px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .overlap-7 {
  position: absolute;
  width: 944px;
  height: 206px;
  top: 4167px;
  left: 248px;
  border-radius: 9px;
  z-index: 1;
}

.desktop-content .text-wrapper-38 {
  position: absolute;
  width: 206px;
  top: 58px;
  left: 479px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.09px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .group-5 {
  position: absolute;
  width: 131px;
  height: 41px;
  top: 103px;
  left: 479px;
}

.desktop-content .overlap-8 {
  position: relative;
  width: 129px;
  height: 41px;
  background-color: #038aff;
  border-radius: 5px;
}

.desktop-content .vector-8 {
  position: absolute;
  width: 10px;
  height: 12px;
  top: 15px;
  left: 93px;
}

.desktop-content .text-wrapper-39 {
  position: absolute;
  width: 70px;
  top: 9px;
  left: 25px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.07px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-40 {
  width: 65px;
  top: 110px;
  left: 639px;
  font-weight: 500;
  color: #ffffff;
  line-height: 23px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  letter-spacing: -0.07px;
  white-space: nowrap;
}

.desktop-content .rectangle-2 {
  position: absolute;
  width: 944px;
  height: 206px;
  top: 0;
  left: 0;
  border-radius: 9px;
  border: 1px solid;
  border-color: #79f9c6;
  z-index: 1;
}

.desktop-content .element-faq {
  position: absolute;
  width: 452px;
  height: 58px;
  top: 3936px;
  left: 259px;
}

.desktop-content .overlap-9 {
  position: relative;
  width: 450px;
  height: 58px;
}

.dropdown-content {
  display: none;
  position: relative;
  width: 100%;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #162c5d;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 23px;
  background-color: #ffffff;
  border: 1px solid #e1e8f0;
  border-top: none;
  border-radius: 11px;
  z-index: 1;
  padding-left: 50px;
  padding-right: 50px;
}

.dropdown-content.show {
  display: block;
}

.desktop-content .despliegue,
.desktop-content .despliegue-2,
.desktop-content .despliegue-3,
.desktop-content .despliegue-4,
.desktop-content .despliegue-5 {
  position: relative;
  width: 100%;
  height: 58px;
  background-color: #ffffff;
  border-radius: 11px;
  border: 1px solid #e1e8f0;
  cursor: pointer;
}

.despliegue.show,
.despliegue-2.show,
.despliegue-3.show,
.despliegue-4.show,
.despliegue-5.show {
  border-radius: 11px 11px 0 0;
}

.desktop-content .group-6 {
  position: relative;
  height: 58px;
  background-color: #ffffff;
  border-radius: 11px;
  border: 1px solid;
  border-color: #e1e8f0;
}

.desktop-content .text-wrapper-41 {
  position: absolute;
  width: 12px;
  top: 14px;
  left: 418px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #748098;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.09px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-42 {
  position: absolute;
  width: 176px;
  top: 16px;
  left: 50px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #162c5d;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-43 {
  position: absolute;
  width: 233px;
  top: 18px;
  left: 52px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #162c5d;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .element-2 {
  position: absolute;
  width: 452px;
  height: 58px;
  top: 3938px;
  left: 740px;
}

.desktop-content .overlap-10 {
  position: absolute;
  width: 441px;
  height: 144px;
  top: 1147px;
  left: 768px;
}

.desktop-content .text-wrapper-44 {
  position: absolute;
  width: 189px;
  top: 120px;
  left: 32px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #79f9c6;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 27px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-45 {
  position: absolute;
  width: 441px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: -0.16px;
  line-height: 32px;
}

.desktop-content .vector-9 {
  position: absolute;
  width: 17px;
  height: 19px;
  top: 125px;
  left: 1px;
}

.desktop-content .text-wrapper-46 {
  position: absolute;
  width: 199px;
  top: 1304px;
  left: 800px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #79f9c6;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 27px;
  white-space: nowrap;
}

.desktop-content .vector-10 {
  position: absolute;
  width: 17px;
  height: 19px;
  top: 1310px;
  left: 769px;
}

.desktop-content .overlap-11 {
  position: absolute;
  width: 482px;
  height: 353px;
  top: 762px;
  left: 181px;
}

.desktop-content .img-2 {
  position: absolute;
  width: 441px;
  height: 353px;
  top: 0;
  left: 41px;
  object-fit: cover;
}

.desktop-content .group-7 {
  position: absolute;
  width: 96px;
  height: 27px;
  top: 303px;
  left: 373px;
}

.desktop-content .group-8 {
  position: absolute;
  width: 108px;
  height: 27px;
  top: 22px;
  left: 0;
}

.desktop-content .overlap-12 {
  position: relative;
  width: 106px;
  height: 27px;
  background-color: #5ccaa7;
  border-radius: 5px;
}

.desktop-content .text-wrapper-47 {
  position: absolute;
  width: 78px;
  top: 2px;
  left: 14px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.1px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-48 {
  width: 332px;
  top: 1267px;
  left: 222px;
  font-size: 13px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #79f9c6;
  letter-spacing: -0.08px;
  line-height: 27px;
}

.desktop-content .we-build-for {
  position: absolute;
  top: 1147px;
  left: 222px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: -0.16px;
  line-height: 38px;
}

.desktop-content .group-9 {
  position: absolute;
  width: 487px;
  height: 353px;
  top: 2302px;
  left: 239px;
}

.desktop-content .overlap-13 {
  position: relative;
  width: 485px;
  height: 353px;
}

.desktop-content .img-3 {
  position: absolute;
  width: 442px;
  height: 353px;
  top: 0;
  left: 43px;
  object-fit: cover;
}

.desktop-content .group-10 {
  position: absolute;
  width: 96px;
  height: 27px;
  top: 305px;
  left: 368px;
}

.desktop-content .rectangle-3 {
  position: absolute;
  width: 94px;
  height: 54px;
  top: 18px;
  left: 0;
  background-color: #fe823d;
  border-radius: 5px;
}

.desktop-content .easy-to-install {
  position: absolute;
  width: 66px;
  top: 20px;
  left: 14px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.1px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .get-components-and {
  width: 408px;
  top: 2407px;
  left: 793px;
  font-size: 14px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #79f9c6;
  letter-spacing: -0.08px;
  line-height: 27px;
}

.desktop-content .text-wrapper-49 {
  position: absolute;
  top: 2347px;
  left: 793px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: -0.16px;
  line-height: 38px;
  white-space: nowrap;
}

.desktop-content .image {
  position: absolute;
  width: 162px;
  height: 54px;
  top: 2508px;
  left: 794px;
}

.desktop-content .image-2 {
  position: absolute;
  width: 167px;
  height: 55px;
  top: 2507px;
  left: 980px;
}

.desktop-content .overlap-14 {
  position: absolute;
  width: 413px;
  height: 350px;
  top: 1809px;
  left: 265px;
}

.desktop-content .person {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 0;
  left: 63px;
  object-fit: cover;
}

.desktop-content .group-11 {
  position: absolute;
  width: 128px;
  height: 33px;
  top: 70px;
  left: 0;
}

.desktop-content .overlap-15 {
  position: relative;
  width: 126px;
  height: 33px;
  background-color: #baca5c;
  border-radius: 5px;
}

.desktop-content .text-wrapper-50 {
  position: absolute;
  width: 99px;
  top: 4px;
  left: 13px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.1px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-51 {
  width: 332px;
  top: 1924px;
  left: 793px;
  font-size: 14px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #79f9c6;
  letter-spacing: -0.08px;
  line-height: 27px;
}

.desktop-content .we-use-the-latest {
  position: absolute;
  top: 1824px;
  left: 793px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: -0.16px;
  line-height: 38px;
}

.desktop-content .overlap-16 {
  position: absolute;
  width: 346px;
  height: 54px;
  top: 2003px;
  left: 792px;
}

.desktop-content .vector-11 {
  position: absolute;
  width: 21px;
  height: 20px;
  top: 17px;
  left: 303px;
}

.desktop-content .group-12 {
  position: absolute;
  width: 346px;
  height: 54px;
  top: 0;
  left: 0;
}

.desktop-content .overlap-17 {
  position: relative;
  width: 344px;
  height: 54px;
  border-radius: 6px;
}

.desktop-content .text-wrapper-52 {
  position: absolute;
  width: 100px;
  top: 15px;
  left: 66px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: -0.08px;
  line-height: 27px;
  white-space: nowrap;
}

.desktop-content .company {
  position: absolute;
  width: 41px;
  height: 41px;
  top: 6px;
  left: 8px;
  object-fit: cover;
}

.desktop-content .rectangle-4 {
  position: absolute;
  width: 344px;
  height: 54px;
  top: 0;
  left: 0;
  border-radius: 6px;
  border: 1px solid;
  border-color: #ffffff;
}

.desktop-content .vector-12 {
  position: absolute;
  width: 26px;
  height: 20px;
  top: 17px;
  left: 259px;
}

.desktop-content .clip {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 6px;
  left: 213px;
}

.desktop-content .group-wrapper {
  position: absolute;
  width: 147px;
  height: 46px;
  top: 2095px;
  left: 793px;
  background-color: #ffffff;
  border-radius: 5px;
}

.desktop-content .group-13 {
  position: relative;
  width: 107px;
  height: 25px;
  top: 11px;
  left: 20px;
}

.desktop-content .group-14 {
  position: relative;
  width: 109px;
  height: 25px;
}

.desktop-content .text-wrapper-53 {
  position: absolute;
  width: 107px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .group-15 {
  position: absolute;
  width: 924px;
  height: 222px;
  top: 2829px;
  left: 258px;
}

.desktop-content .group-16 {
  width: 928px;
  height: 222px;
}

.desktop-content .overlap-18 {
  position: relative;
  width: 924px;
  height: 222px;
  background-color: #161348;
  border-radius: 2px 59px 2px 59px;
}

.desktop-content .group-17 {
  position: absolute;
  width: 144px;
  height: 41px;
  top: 91px;
  left: 712px;
}

.desktop-content .overlap-group-3 {
  position: relative;
  width: 142px;
  height: 41px;
  background-color: #ffffff;
  border-radius: 5px;
}

.desktop-content .vector-13 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 16px;
  left: 109px;
}

.desktop-content .text-wrapper-54 {
  width: 70px;
  top: 8px;
  left: 18px;
  font-weight: 600;
  color: #000000;
  line-height: 24px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  letter-spacing: -0.07px;
  white-space: nowrap;
}

.desktop-content .intuitive-markup {
  position: absolute;
  width: 408px;
  top: 101px;
  left: 65px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #fdfffc;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 23px;
}

.desktop-content .text-wrapper-55 {
  position: absolute;
  top: 58px;
  left: 65px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -0.11px;
  line-height: 38px;
  white-space: nowrap;
}

.desktop-content .despliegue-2 {
  top: 3859px;
  left: 259px;
  position: absolute;
  width: 450px;
  height: 58px;
}

.desktop-content .despliegue-3 {
  top: 3861px;
  left: 740px;
  position: absolute;
  width: 450px;
  height: 58px;
}

.desktop-content .despliegue-4 {
  top: 4019px;
  left: 259px;
  position: absolute;
  width: 450px;
  height: 58px;
}

.desktop-content .despliegue-5 {
  top: 4021px;
  left: 740px;
  position: absolute;
  width: 450px;
  height: 58px;
}

.desktop-content .group-18 {
  position: absolute;
  width: 96px;
  height: 27px;
  top: 1661px;
  left: 672px;
}

.desktop-content .overlap-19 {
  position: relative;
  width: 94px;
  height: 27px;
  background-color: #46babd;
  border-radius: 5px;
}

.desktop-content .text-wrapper-56 {
  position: absolute;
  width: 66px;
  top: 2px;
  left: 12px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: -0.06px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .group-19 {
  position: absolute;
  width: 161px;
  height: 234px;
  top: 1408px;
  left: 639px;
}

.desktop-content .set-up-the-color {
  position: absolute;
  top: 158px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  letter-spacing: -0.16px;
  line-height: 38px;
}

.desktop-content .round-triangle-chain {
  position: absolute;
  width: 146px;
  height: 146px;
  top: 0;
  left: 7px;
}

.desktop-content .group-20 {
  position: absolute;
  width: 96px;
  height: 27px;
  top: 1661px;
  left: 912px;
}

.desktop-content .group-21 {
  position: absolute;
  width: 194px;
  height: 238px;
  top: 1404px;
  left: 863px;
}

.desktop-content .wireframe-and {
  position: absolute;
  top: 162px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  letter-spacing: -0.16px;
  line-height: 38px;
}

.desktop-content .ring {
  position: absolute;
  width: 153px;
  height: 153px;
  top: 0;
  left: 19px;
}

.desktop-content .group-22 {
  position: absolute;
  width: 96px;
  height: 27px;
  top: 1661px;
  left: 411px;
}

.desktop-content .group-23 {
  position: absolute;
  width: 160px;
  height: 240px;
  top: 1402px;
  left: 379px;
}

.desktop-content .create-the-new-logo {
  position: absolute;
  top: 164px;
  left: 10px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  letter-spacing: -0.16px;
  line-height: 38px;
}

.desktop-content .cube {
  position: absolute;
  width: 158px;
  height: 158px;
  top: 0;
  left: 0;
}

.desktop-content .text-wrapper-57 {
  position: absolute;
  top: 3224px;
  left: 517px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #f5f9ff;
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 32px;
  white-space: nowrap;
}

.desktop-content .overlap-20 {
  position: absolute;
  width: 327px;
  height: 404px;
  top: 3347px;
  left: 7px;
}

.desktop-content .creative-idea {
  position: absolute;
  width: 242px;
  height: 242px;
  top: 162px;
  left: 0;
}

.desktop-content .component {
  width: 213px;
  height: 251px;
  top: 0;
  left: 114px;
  position: absolute;
  border-radius: 11px;
  border: 2px solid;
  border-color: #79f9c6;
}

.desktop-content .component:hover {
  width: 213px;
  height: 251px;
  top: 0;
  left: 114px;
  position: absolute;
  border-radius: 11px;
  border: 2px solid;
  border-color: #79f9c6;
  background-color: white;
}

.component a .they-build-modern {
  color: white;
}

.component a .group-24 .text-wrapper-58 {
  color: white;
}

.component:hover a .group-24 .text-wrapper-58 {
  color: #1d1b4d;
}

.component:hover a .they-build-modern {
  color: #1d1b4d;
}

.desktop-content .component:hover .image-3 {
  content: url(/img/2/amazon.svg);
}

.desktop-content .component a .text-wrapper-58 {
  color: #ffffff;
}

.desktop-content .they-build-modern {
  position: absolute;
  width: 150px;
  top: 95px;
  left: 27px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: 23px;
}

.desktop-content .group-24 {
  position: absolute;
  width: 70px;
  height: 26px;
  top: 184px;
  left: 69px;
}

.desktop-content .text-wrapper-58 {
  position: absolute;
  width: 68px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .vector-14 {
  position: absolute;
  width: 67px;
  height: 3px;
  top: 25px;
  left: 2px;
}

.desktop-content .image-3 {
  position: absolute;
  width: 107px;
  height: 33px;
  top: 40px;
  left: 51px;
  object-fit: cover;
}

.desktop-content .overlap-21 {
  position: absolute;
  width: 328px;
  height: 419px;
  top: 3178px;
  left: 1105px;
}

.desktop-content .creative-idea-2 {
  position: absolute;
  width: 242px;
  height: 242px;
  top: 0;
  left: 86px;
}

.desktop-content .component-2 {
  width: 213px;
  height: 250px;
  top: 169px;
  left: 0;
  color: white;
  position: absolute;
  border-radius: 11px;
  border: 2px solid;
  border-color: #79f9c6;
}

.desktop-content .component-2:hover {
  width: 213px;
  height: 250px;
  top: 169px;
  left: 0;
  position: absolute;
  border-radius: 11px;
  border: 2px solid;
  border-color: #46babd;
  background-color: white;
}

.desktop-content .paypal-white-2 {
  position: absolute;
  width: 147px;
  height: 49px;
  top: 32px;
  left: 31px;
}

.desktop-content .they-build-modern-2 {
  top: 96px;
  left: 29px;
  position: absolute;
  width: 150px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: 23px;
}

.component-2 a .they-build-modern-2 {
  color: white;
}

.component-2 a .group-25 .text-wrapper-58 {
  color: white;
}

.component-2:hover a .group-25 .text-wrapper-58 {
  color: #1d1b4d;
}

.component-2:hover a .they-build-modern-2 {
  color: #1d1b4d;
}

.desktop-content .component-2:hover .paypal-white-2 {
  content: url(/img/2/paypal.svg);
}

.desktop-content .component-2 a .text-wrapper-58 {
  color: #ffffff;
}

.desktop-content .group-25 {
  position: absolute;
  width: 70px;
  height: 26px;
  top: 184px;
  left: 70px;
}

.desktop-content .state {
  position: absolute;
  width: 213px;
  height: 228px;
  top: 3316px;
  left: 366px;
  border-radius: 11px;
  border: 2px solid;
  border-color: #79f9c6;
}

.desktop-content .state:hover {
  position: absolute;
  color: #1d1b4d !important;
  width: 213px;
  height: 228px;
  top: 3316px;
  left: 366px;
  border-radius: 11px;
  border: 2px solid;
  border-color: #79f9c6;
  background-color: white;
}

.desktop-content .airbnb-white-2 {
  position: absolute;
  width: 111px;
  height: 37px;
  top: 36px;
  left: 49px;
}

.desktop-content .state:hover .airbnb-white-2 {
  content: url(/img/2/airbnb.svg);
  color: white;
}

.desktop-content .state:hover .overlap-22 {
  color: #1d1b4d;
}

.desktop-content .state:hover .overlap-22 .text-wrapper-60 {
  color: #1d1b4d;
}

.desktop-content .state:hover .overlap-22 .text-wrapper-59 {
  color: #1d1b4d;
}

.desktop-content .overlap-22 {
  position: absolute;
  width: 150px;
  height: 53px;
  top: 137px;
  left: 32px;
}

.desktop-content .text-wrapper-59 {
  position: absolute;
  width: 150px;
  top: 30px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: white;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-60 {
  position: absolute;
  top: 0;
  left: 4px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 32px;
  white-space: nowrap;
}

.desktop-content .group-26 {
  position: absolute;
  width: 79px;
  height: 12px;
  top: 103px;
  left: 66px;
}

.desktop-content .component-3 {
  width: 215px;
  height: 250px;
  top: 3347px;
  left: 611px;
  position: absolute;
  border-radius: 11px;
  border: 2px solid;
  border-color: #79f9c6;
}

.desktop-content .component-3:hover {
  width: 215px;
  height: 250px;
  top: 3347px;
  left: 611px;
  position: absolute;
  border-radius: 11px;
  border: 2px solid;
  border-color: #46babd;
  background-color: white;
}

.desktop-content .slack-logo {
  position: absolute;
  width: 114px;
  height: 35px;
  top: 39px;
  left: 53px;
}

.desktop-content .they-build-modern-3 {
  top: 95px;
  left: 30px;
  position: absolute;
  width: 150px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: 23px;
}

.component-3 a .they-build-modern-3 {
  color: white;
}

.component-3 a .group-27 .text-wrapper-58 {
  color: white;
}

.component-3:hover a .group-27 .text-wrapper-58 {
  color: #1d1b4d;
}

.component-3:hover a .they-build-modern-3 {
  color: #1d1b4d;
}

.desktop-content .component-3:hover .slack-logo {
  content: url(/img/2/slack.svg);
}

.desktop-content .component-3 a .text-wrapper-58 {
  color: #ffffff;
}

.desktop-content .group-27 {
  position: absolute;
  width: 70px;
  height: 26px;
  top: 184px;
  left: 74px;
}

.desktop-content .component-4 {
  width: 215px;
  height: 229px;
  top: 3318px;
  left: 858px;
  backdrop-filter: blur(10px) brightness(100%);
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  position: absolute;
  border-radius: 11px;
  border: 2px solid;
  border-color: #79f9c6;
}

.desktop-content .component-4:hover {
  background-color: white;
  border-color: #46babd;
}

.desktop-content .overlap-23 {
  position: absolute;
  width: 150px;
  height: 54px;
  top: 136px;
  left: 34px;
}

.desktop-content .text-wrapper-61 {
  position: absolute;
  width: 150px;
  top: 31px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.07px;
  line-height: 23px;
  white-space: nowrap;
}

.desktop-content .component-4:hover .spotify-white-2 {
  content: url(/img/2/spotify.svg);
  color: white;
}

.desktop-content .component-4:hover .overlap-23 {
  color: #1d1b4d;
}

.desktop-content .component-4:hover .overlap-23 .text-wrapper-60 {
  color: #1d1b4d;
}

.desktop-content .component-4:hover .overlap-23 .text-wrapper-61 {
  color: #1d1b4d;
}

.desktop-content .group-28 {
  position: absolute;
  width: 79px;
  height: 12px;
  top: 102px;
  left: 67px;
}

.desktop-content .spotify-white-2 {
  position: absolute;
  width: 136px;
  height: 46px;
  top: 34px;
  left: 38px;
}

.desktop-content .rectangle-5 {
  position: fixed;
  width: 1440px;
  height: 100px;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(4, 139, 255) 0%,
    rgba(4, 139, 255, 0) 100%
  );
}

.desktop-content .odoo-white-4 {
  width: 75px;
  height: 23px;
  position: fixed;
  top: 19px;
}

/* Estilos para dispositivos más grandes (desktop) */
@media (max-width: 991px) {
  .odoo-white-4 {
    width: 75px;
    height: 23px;
    position: fixed;
    top: 19px;
    left: 26px;
  }
}

@media (min-width: 992px) {
  .odoo-white-4 {
    left: 116px;
  }
}

.desktop-content .text-wrapper-62 {
  position: fixed;
  width: 39px;
  top: 20px;
  left: 526px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-63 {
  position: fixed;
  width: 57px;
  top: 20px;
  left: 589px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-64 {
  position: fixed;
  width: 39px;
  top: 20px;
  left: 670px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-65 {
  position: fixed;
  width: 28px;
  top: 20px;
  left: 733px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-66 {
  position: fixed;
  width: 39px;
  top: 20px;
  left: 785px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .text-wrapper-67 {
  position: fixed;
  width: 42px;
  top: 20px;
  left: 1175px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .vector-15 {
  position: fixed;
  width: 960px;
  height: 1px;
  top: 66px;
  left: 240px;
  object-fit: cover;
}

.desktop-content .buy-now {
  position: fixed;
  width: 105px;
  height: 34px;
  top: 18px;
  left: 1242px;
  background-color: #ffffff;
  border-radius: 5px;
}

.desktop-content .group-29 {
  position: relative;
  width: 78px;
  height: 24px;
  top: 5px;
  left: 15px;
}

.desktop-content .text-wrapper-68 {
  position: absolute;
  width: 54px;
  top: 0;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: 24px;
  white-space: nowrap;
}

.desktop-content .group-30 {
  position: absolute;
  width: 12px;
  height: 11px;
  top: 5px;
  left: 0;
}
